*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
.nav-img{
    display: flex;
    gap: 1rem;
}
.nav-img #img1{
    color: rgb(113, 113, 113);
    font-size: 2rem;
}
.nav-img #img2{
    color: rgb(96, 188, 250);
    font-size: 2rem;
}
.cross-icon{
    font-size: 2rem;
    color: rgb(113, 113, 113);
    cursor: pointer;
}
.links{
    list-style: none;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 27rem;
}
.links a{
    text-decoration: none;
    color: rgb(135, 135, 135);
    font-size: 1.5rem;
}
.links li{
    height: 3rem;
    padding-top: 1rem;
    width: 27rem;
    cursor: pointer;
    padding-left: 1rem;
}
.links li:hover{
    background-color: lightblue;
}
.icons{
    list-style: none;
    display: flex;
    width: 27rem;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.icons a{
    text-decoration: none;
    color: rgb(96, 188, 250);
    font-size: 1.5rem;
}
.top-section{
    display: flex;
    justify-content: space-between;
    width: 25rem;
    height: 2rem;
    align-items: center;
    margin-top: 1rem;
    padding-left: 1rem;
}
.bottom-section{
    display: flex;
    width: 27rem;
    flex-wrap: wrap;
    row-gap: 19rem;
}
.sidebar{
    display: flex;
    width: 27rem;
    flex-wrap: wrap;
    box-shadow: 5px 0 15px rgba(0,0,0,0.5) ;
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: space-between;
}
.togle-btn{
    font-size: 2rem;
    padding: 0.5rem 1rem 0 0;
    cursor: pointer;
    color: rgb(113,113,113);
}
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}
  .transition1 {
    position: relative;
    top: 0;
    left: -28rem;
    transition: transform 1s ease-in-out; 
    transform: translateX(28rem);
  }
  .transition2 {
    position: relative;
    top: 0;
    transition: transform 1s ease-in-out; 
    transform: translateX(-28rem);
  }
  @media(max-width:45rem){
    .sidebar{
        width: 17rem;
    }
    .bottom-section{
        width: 17rem;
        row-gap: 25rem;
    }
    .icons{
        width: 17rem;
    }
    .links li{
        width: 17rem;
        height: 2rem;
        padding-top: 0.75rem;
    }
    .links{
        width: 17rem;
        margin-top: 2.5rem;
    }
    .top-section{
        width: 15rem;
        height: 1.5rem;
    }
    .icons a{
        font-size: 1rem;
    }
    .links a{
        font-size: 1rem;
    }
    .nav-img #img1{
        font-size: 1.25rem;
    }
    .nav-img #img2{
        font-size: 1.25rem;
    }
    .cross-icon{
        font-size: 1.25rem;
    }
    .togle-btn{
        font-size: 1.5rem;
    }
}